<h1>Create Account</h1>
<form id="loginform">
    <label for="username">Username</label>
    <input type="username" name="username" [(ngModel)]="username" class="form-label">
    <label for="email">Email</label>
    <input type="email" name="email" [(ngModel)]="email" class="form-label">
    <label for="id">ID</label>
    <input type="id" name="id" [(ngModel)]="id" class="form-label">
    <label for="password">Password</label>
    <input type="password" name="password" [(ngModel)]="password" class="form-label">
    <button (click)="createAccount()" type="createAccount">Create Account</button>
    <br>
    <br>
    <button (click)="returnToLoginPage()" type="returnToLoginPage">Return To Login Page</button>
</form>
